# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.WizardsCode_Character.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\unity-projects\WizardsCode_Character\.idea\.idea.WizardsCode_Character\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
